apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: huayun-lab-qa
    namespace: bigdata-{{ ENV }}
spec:
    {% if ENV == "prod" %}
    replicas: 2
    minReadySeconds: 60
    {% else %}
    replicas: 1
    {% endif %}
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: huayun-lab-qa
        env: {{ ENV }}
        tier: backend
        release: k8s-release
    template:
      metadata:
        labels:
          app: huayun-lab-qa
          env: {{ ENV }}
          tier: backend
          release: k8s-release
      spec:
          hostAliases:
          {% if ENV == 'dev' %}
          - ip: "192.168.66.121"
            hostnames:
            - "ddpva"
          - ip: "192.168.66.122"
            hostnames:
            - "ddpvb"
          - ip: "192.168.66.123"
            hostnames:
            - "ddpvc"
          - ip: "192.168.66.124"
            hostnames:
            - "ddpvd"
          - ip: "192.168.66.125"
            hostnames:
            - "ddpve"
          {% elif ENV == 'test' %}
          - ip: "192.168.55.161"
            hostnames:
            - "dddbva"
          - ip: "192.168.55.162"
            hostnames:
            - "dddbvb"
          - ip: "192.168.55.163"
            hostnames:
            - "dddbvc"
          - ip: "192.168.55.164"
            hostnames:
            - "dddbvd"
          - ip: "192.168.55.165"
            hostnames:
            - "dddbve"
          - ip: "192.168.55.166"
            hostnames:
            - "dddbvf"
          - ip: "192.168.55.171"
            hostnames:
            - "dddcva"
          - ip: "192.168.55.172"
            hostnames:
            - "dddcvb"
          - ip: "192.168.55.173"
            hostnames:
            - "dddcvc"
          - ip: "192.168.55.174"
            hostnames:
            - "dddcvd"
          - ip: "192.168.55.175"
            hostnames:
            - "dddcve"
          - ip: "192.168.55.176"
            hostnames:
            - "dddcvf"
          {% elif ENV == "prod" %}
          - ip: "192.168.55.101"
            hostnames:
            - "ddava"
          - ip: "192.168.55.102"
            hostnames:
            - "ddavb"
          - ip: "192.168.55.103"
            hostnames:
            - "ddavc"
          - ip: "192.168.55.104"
            hostnames:
            - "ddavd"
          - ip: "192.168.55.105"
            hostnames:
            - "ddave"
          - ip: "192.168.55.111"
            hostnames:
            - "ddbva"
          - ip: "192.168.55.112"
            hostnames:
            - "ddbvb"
          - ip: "192.168.55.113"
            hostnames:
            - "ddbvc"
          - ip: "192.168.55.114"
            hostnames:
            - "ddbvd"
          - ip: "192.168.55.115"
            hostnames:
            - "ddbve"
          {% else %}
          - ip: "127.0.0.1"
            hostnames:
            - "localhost"
          {% endif %}
          {% if ENV == "prod" %}
          imagePullSecrets:
          - name: regsecret
          {% endif %}
          containers:
          - name: huayun-lab-qa
            {% if ENV == "prod" %}
            image: reg.k8s.com/bigdata-{{ ENV }}/huayun-lab-qa:{{ TIMESTAMP }}
            {% else %}
            image: reg.ops.com/bigdata-{{ ENV }}/huayun-lab-qa:{{ TIMESTAMP }}
            {% endif %}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              {% if ENV == 'prod' %}
              requests:
                memory: "1024Mi"
                cpu: "1024m"
              limits:
                memory: "2048Mi"
                cpu: "2048m"
              {% else %}
              requests:
                memory: "1024Mi"
                cpu: "512m"
              limits:
                memory: "2048Mi"
                cpu: "1024m"
              {% endif %}
            ports:
            - name: lab-qa
              containerPort: 9909
            
---
apiVersion: v1
kind: Service
metadata:
  name: qa-service
  namespace: bigdata-{{ ENV }}
spec:
  selector:
    app: huayun-lab-qa
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - port: 9909
    targetPort: 9909

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: huayun-lab-qa
  namespace: bigdata-{{ ENV }}
spec:
  rules:
  - host: huayun-lab-qa.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: qa-service
          servicePort: 9909
