apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: iot-registe
    namespace: iot-{{ ENV }}
spec:
    replicas: 1
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: iot-registe
        env: {{ ENV }}
        tier: backend
        release: k8s-release
    template:
      metadata:
        labels:
          app: iot-registe
          env: {{ ENV }}
          tier: backend
          release: k8s-release
      spec:
          containers:
          - name: iot-registe
            image: reg.ops.com/iot-{{ ENV }}/iot-registe:{{ TIMESTAMP }}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              requests:
                memory: "1024Mi"
                cpu: "500m"
              limits:
                memory: "2048Mi"
                cpu: "1000m"
            ports:
            - name: iot-registe
              containerPort: 8081

---
apiVersion: v1
kind: Service
metadata:
  name: iot-registe-service
  namespace: iot-{{ ENV }}
spec:
  selector:
    app: iot-registe
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - port: 8081
    targetPort: 8081

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: iot-registe
  namespace: iot-{{ ENV }}
spec:
  rules:
  - host: iot-registe.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: iot-registe-service
          servicePort: 8081

