apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: iot-service-comment
    namespace: iot-{{ ENV }}
spec:
    replicas: 1
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: iot-service-comment
        tier: backend
        env: {{ ENV }}
        release: k8s-release
    template:
      metadata:
        labels:
          app: iot-service-comment
          tier: backend
          env: {{ ENV }}
          release: k8s-release
      spec:
          containers:
          - name: iot-service-comment
            image: reg.ops.com/iot-{{ ENV }}/iot-service-comment:{{ TIMESTAMP }}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              requests:
                memory: "1024Mi"
                cpu: "500m"
              limits:
                memory: "2048Mi"
                cpu: "1000m"
            ports:
            - name: iot-comment
              containerPort: 8810

---
apiVersion: v1
kind: Service
metadata:
  name: iot-comment-service
  namespace: iot-{{ ENV }}
spec:
  selector:
    app: iot-service-comment
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - port: 8810
    targetPort: 8810

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: iot-comment
  namespace: iot-{{ ENV }}
spec:
  rules:
  - host: iot-service-comment.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: iot-comment-service
          servicePort: 8810
