apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: iot-service-resource
    namespace: iot-{{ ENV }}
spec:
    replicas: 1
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: iot-service-resource
        tier: backend
        env: {{ ENV }}
        release: k8s-release
    template:
      metadata:
        labels:
          app: iot-service-resource
          tier: backend
          env: {{ ENV }}
          release: k8s-release
      spec:
          containers:
          - name: iot-service-resource
            image: reg.ops.com/iot-{{ ENV }}/iot-service-resource:{{ TIMESTAMP }}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              requests:
                memory: "1024Mi"
                cpu: "500m"
              limits:
                memory: "2048Mi"
                cpu: "1000m"
            ports:
            - name: iot-resource
              containerPort: 8808
            volumeMounts:
            - name: nfs
              mountPath: "/ddhome/local/nginx/html/download"
          volumes: 
          - name: nfs
            nfs:
              server: 192.168.55.91
              path: "/ddhome/local/nginx/html/download"

---
apiVersion: v1
kind: Service
metadata:
  name: iot-resource-service
  namespace: iot-{{ ENV }}
spec:
  selector:
    app: iot-service-resource
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - port: 8808
    targetPort: 8808

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: iot-resource
  namespace: iot-{{ ENV }}
spec:
  rules:
  - host: iot-service-resource.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: iot-resource-service
          servicePort: 8808
