apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: iot-service-lab
    namespace: iot-{{ ENV }}
spec:
    replicas: 1
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: iot-service-lab
        tier: backend
        env: {{ ENV }}
        release: k8s-release
    template:
      metadata:
        labels:
          app: iot-service-lab
          tier: backend
          env: {{ ENV }}
          release: k8s-release
      spec:
          hostAliases:
          - ip: "192.168.55.150"
            hostnames:
            - "ddda"
          - ip: "192.168.55.151"
            hostnames:
            - "dddava"
          - ip: "192.168.55.152"
            hostnames:
            - "dddavb"
          - ip: "192.168.55.153"
            hostnames:
            - "dddavc"
          - ip: "192.168.55.154"
            hostnames:
            - "dddavd"
          - ip: "192.168.55.155"
            hostnames:
            - "dddave"
          - ip: "192.168.55.156"
            hostnames:
            - "dddavf"
          - ip: "192.168.55.157"
            hostnames:
            - "dddavg"
          - ip: "192.168.55.160"
            hostnames:
            - "dddb"
          - ip: "192.168.55.161"
            hostnames:
            - "dddbva"
          - ip: "192.168.55.162"
            hostnames:
            - "dddbvb"
          - ip: "192.168.55.163"
            hostnames:
            - "dddbvc"
          - ip: "192.168.55.164"
            hostnames:
            - "dddbvd"
          - ip: "192.168.55.165"
            hostnames:
            - "dddbve"
          - ip: "192.168.55.166"
            hostnames:
            - "dddbvf"
          - ip: "192.168.55.170"
            hostnames:
            - "dddc"
          - ip: "192.168.55.171"
            hostnames:
            - "dddcva"
          - ip: "192.168.55.172"
            hostnames:
            - "dddcvb"
          - ip: "192.168.55.173"
            hostnames:
            - "dddcvc"
          - ip: "192.168.55.174"
            hostnames:
            - "dddcvd"
          - ip: "192.168.55.175"
            hostnames:
            - "dddcve"
          - ip: "192.168.55.176"
            hostnames:
            - "dddcvf"
          - ip: "192.168.55.91"
            hostnames:
            - "ddjva"
          - ip: "192.168.55.92"
            hostnames:
            - "ddjvb"
          - ip: "192.168.55.93"
            hostnames:
            - "ddkva"
          containers:
          - name: iot-service-lab
            image: reg.ops.com/iot-{{ ENV }}/iot-service-lab:{{ TIMESTAMP }}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              requests:
                memory: "1024Mi"
                cpu: "500m"
              limits:
                memory: "2048Mi"
                cpu: "1000m"
            ports:
            - name: iot-lab
              containerPort: 8803


---
apiVersion: v1
kind: Service
metadata:
  name: iot-lab-service
  namespace: iot-{{ ENV }}
spec:
  selector:
    app: iot-service-lab
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - port: 8803
    targetPort: 8803

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: iot-lab
  namespace: iot-{{ ENV }}
spec:
  rules:
  - host: iot-service-lab.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: iot-lab-service
          servicePort: 8803
