apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: iot-service-chat
    namespace: iot-{{ ENV }}
spec:
    replicas: 1
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: iot-service-chat
        tier: backend
        env: {{ ENV }}
        release: k8s-release
    template:
      metadata:
        labels:
          app: iot-service-chat
          tier: backend
          env: {{ ENV }}
          release: k8s-release
      spec:
          containers:
          - name: iot-service-chat
            image: reg.ops.com/iot-{{ ENV }}/iot-service-chat:{{ TIMESTAMP }}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              requests:
                memory: "1024Mi"
                cpu: "500m"
              limits:
                memory: "2048Mi"
                cpu: "1000m"
            ports:
            - name: iot-chat
              containerPort: 8807
            - name: websocket
              containerPort: 6789

---
apiVersion: v1
kind: Service
metadata:
  name: iot-chat-service
  namespace: iot-{{ ENV }}
spec:
  selector:
    app: iot-service-chat
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - name: http
    port: 8807
    targetPort: 8807
  - name: ws
    port: 6789
    targetPort: 6789  

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: iot-chat
  namespace: iot-{{ ENV }}
spec:
  rules:
  - host: iot-service-chat.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: iot-chat-service
          servicePort: 8807


