apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: iot-gateway
    namespace: iot-{{ ENV }}
spec:
    replicas: 1
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: iot-gateway
        env: {{ ENV }}
        tier: backend
        release: k8s-release
    template:
      metadata:
        labels:
          app: iot-gateway
          env: {{ ENV }}
          tier: backend
          release: k8s-release
      spec:
          containers:
          - name: iot-gateway
            image: reg.ops.com/iot-{{ ENV }}/iot-gateway:{{ TIMESTAMP }}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              requests:
                memory: "1024Mi"
                cpu: "500m"
              limits:
                memory: "2048Mi"
                cpu: "1000m"
            {% if ENV == 'test'%}
            ports:
            - name: iot-gateway
              containerPort: 8098
            {% elif ENV == 'dev'%}
            ports:
            - name: iot-gateway
              containerPort: 8097
            {% else %}}
            ports:
            - name: iot-gateway
              containerPort: 8099
            {% endif %}

---
apiVersion: v1
kind: Service
metadata:
  name: iot-gateway-service
  namespace: iot-{{ ENV }}
spec:
  selector:
    app: iot-gateway
    env: {{ ENV }}
    tier: backend
    release: k8s-release
  {% if ENV == 'test' %}
  ports:
  - port: 8098
    targetPort: 8098
  {% elif ENV == 'dev' %}
  ports:
  - port: 8097
    targetPort: 8097
  {% else %}
  ports:
  - port: 8099
    targetPort: 8099
  {% endif %}

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: iot-gateway
  namespace: iot-{{ ENV }}
spec:
  rules:
  - host: iot-gateway.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: iot-gateway-service
          {% if ENV == 'test' %}
          servicePort: 8098
          {% elif ENV == 'dev' %}
          servicePort: 8097
          {% else %}
          servicePort: 8099
          {% endif %}

