[client]
default-character-set=utf8mb4
port=3306
socket=/ddhome/src/mysql/mysql.sock

[mysqld]
port=3306
basedir=/ddhome/src/mysql
datadir=/ddhome/src/mysql/data
socket=/ddhome/src/mysql/mysql.sock
# 序号，主从时使用
server-id=1
# 禁止mysql对外部连接进行dns解析
skip-name-resolve
# 最大连接数
max_connections=4000
# 最大错误连接数，对于一个主机错误连接数超过阈值就会被禁止连接，解禁执行：FLUSH HOST
max_connect_errors=500
# MySQL每打开一个表，都会读入一些数据到table_open_cache缓存中，当MySQL在这个缓存中找不到相应信息时，才会去磁盘上读取。默认值64
table_open_cache=200
# 接受的数据包大小
max_allowed_package=5M
# 一个事务，在没有提交的时候，产生的日志，记录到Cache中；等到事务提交需要提交的时候，则把日志持久化到磁盘。默认binlog_cache_size大小32K
binlog_cache_size=8M
# 临时表大小
tmp_table_size = 16M
# 内存表的大小
max_heap_table_size = 8M
# mysql读入缓冲区大小
read_buffer_size = 8M
# mysql随机读缓冲区大小
read_rnd_buffer_size = 8M
# mysql执行排序缓冲区大小
sort_buffer_size = 8M
# 联合查询操作缓冲区大小
join_buffer_size = 8M
# 可以重新利用保存在缓存中线程的数量
thread_cache_size = 64
# 用于索引的缓冲区大小
key_buffer_size = 4M
# 开启二进制日志
log_bin = mysql-bin
binlog_format = mixed
expire_logs_days = 30
# 开启慢查询日志
slow_query_log = 1
long_query_time = 5
skip-external-locking
# 高并发时，back_log值指出在MySQL暂时停止回答新请求之前的短时间内多少个请求可以被存在堆栈中
back_log=500
default-storage-engine=INNODB
# InnoDB使用一个缓冲池来保存索引和原始数据，设置越大存取表里面数据时所需要的磁盘I/O越少
innodb_buffer_pool_size=3G
# 每一个表单独表空间
innodb_file_per_table=ON
# 默认设置为 0,表示不限制并发数
innodb_thread_concurrency= 0
innodb_write_io_threads = 6
innodb_read_io_threads = 6
# 单独设置一个线程处理清除操作
innodb_purge_threads = 1
# 设为默认值1的时候，每次提交事务的时候，都会将log buffer刷写到日志，最安全，影响性能
innodb_flush_log_at_trx_commit = 1
# 事务日志文件数
innodb_log_files_in_group = 3
# 失误日志缓冲区大小
innodb_log_buffer_size = 2M
# 事务日志大小
innodb_log_file_size = 32M
# innodb主线程刷新缓存池中的数据，使脏数据比例小于90%
innodb_max_dirty_pages_pct = 90
# InnoDB事务在被回滚之前可以等待一个锁定的超时秒数
innodb_lock_wait_timeout = 120
character-set-server=utf8mb4

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysqld_safe]
log-error=/ddhome/src/mysql/log/mysqld.log
pid-file=/ddhome/src/mysql/log/mysqld.pid

[mysqldump]
quick
max_allowed_packet = 16M
