apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: ai-lab-competition
    namespace: aicloud-{{ ENV }}
spec:
    {% if ENV == "prod" %}
    replicas: 1
    minReadySeconds: 60
    {% else %}
    replicas: 1
    {% endif %}
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: ai-lab-competition
        env: {{ ENV }}
        tier: backend
        release: k8s-release
    template:
      metadata:
        labels:
          app: ai-lab-competition
          env: {{ ENV }}
          tier: backend
          release: k8s-release
      spec:
          hostAliases:
          {% if ENV == 'dev' %}
          - ip: "192.168.66.121"
            hostnames:
            - "ddpva"
          - ip: "192.168.66.122"
            hostnames:
            - "ddpvb"
          - ip: "192.168.66.123"
            hostnames:
            - "ddpvc"
          - ip: "192.168.66.124"
            hostnames:
            - "ddpvd"
          - ip: "192.168.66.125"
            hostnames:
            - "ddpve"
          - ip: "192.168.55.161"
            hostnames:
            - "dddbva"
          - ip: "192.168.55.162"
            hostnames:
            - "dddbvb"
          - ip: "192.168.55.163"
            hostnames:
            - "dddbvc"
          - ip: "192.168.55.164"
            hostnames:
            - "dddbvd"
          - ip: "192.168.55.165"
            hostnames:
            - "dddbve"
          - ip: "192.168.55.166"
            hostnames:
            - "dddbvf"
          - ip: "192.168.55.171"
            hostnames:
            - "dddcva"
          - ip: "192.168.55.172"
            hostnames:
            - "dddcvb"
          - ip: "192.168.55.173"
            hostnames:
            - "dddcvc"
          - ip: "192.168.55.174"
            hostnames:
            - "dddcvd"
          - ip: "192.168.55.175"
            hostnames:
            - "dddcve"
          - ip: "192.168.55.176"
            hostnames:
            - "dddcvf"
          {% elif ENV == 'prod' %}
          - ip: "192.168.66.191"
            hostnames:
            - "ddrvk"
          - ip: "192.168.66.192"
            hostnames:
            - "ddrvl"
          - ip: "192.168.66.193"
            hostnames:
            - "ddrvm"
          - ip: "192.168.66.194"
            hostnames:
            - "ddrvn"
          - ip: "192.168.66.195"
            hostnames:
            - "ddrvo"
          {% else %}
          - ip: "127.0.0.1"
            hostnames:
            - "localhost"
          {% endif %}
          {% if ENV == "prod" %}
          imagePullSecrets:
          - name: regsecret
          {% endif %}
          containers:
          - name: ai-lab-competition
            {% if ENV == "prod" %}
            image: reg.k8s.com/aicloud-{{ ENV }}/ai-lab-competition:{{ TIMESTAMP }}
            {% else %}
            image: reg.ops.com/aicloud-{{ ENV }}/ai-lab-competition:{{ TIMESTAMP }}
            {% endif %}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              requests:
                memory: "1024Mi"
                cpu: "500m"
              limits:
                memory: "2048Mi"
                cpu: "1000m"
            ports:
            - name: service-exam
              containerPort: 9913
            env:
            - name: HOST_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            

---
apiVersion: v1
kind: Service
metadata:
  name: ai-competition-service
  namespace: aicloud-{{ ENV }}
spec:
  selector:
    app: ai-lab-competition
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - port: 9913
    targetPort: 9913

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ai-lab-competition
  namespace: aicloud-{{ ENV }}
 
spec:

  rules:
  - host: ai-lab-competition.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: ai-competition-service
          servicePort: 9913


