apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: ai-lab-report
    namespace: aicloud-{{ ENV }}
spec:
    {% if ENV == 'prod'%}
    replicas: 2
    minReadySeconds: 60
    {% else %}
    replicas: 1
    {% endif %}
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: ai-lab-report
        env: {{ ENV }}
        tier: backend
        release: k8s-release
    template:
      metadata:
        labels:
          app: ai-lab-report
          env: {{ ENV }}
          tier: backend
          release: k8s-release
      spec:
          hostAliases:
          {% if ENV == 'dev' %}
          - ip: "192.168.66.121"
            hostnames:
            - "ddpva"
          - ip: "192.168.66.122"
            hostnames:
            - "ddpvb"
          - ip: "192.168.66.123"
            hostnames:
            - "ddpvc"
          - ip: "192.168.66.124"
            hostnames:
            - "ddpvd"
          - ip: "192.168.66.125"
            hostnames:
            - "ddpve"
          - ip: "192.168.55.161"
            hostnames:
            - "dddbva"
          - ip: "192.168.55.171"
            hostnames:
            - "dddcva"
          - ip: "192.168.66.156"
            hostnames:
            - "consulapi.sysadmin.com"
          {% elif ENV == 'prod' %}
          - ip: "192.168.66.191"
            hostnames:
            - "ddrvk"
          - ip: "192.168.66.192"
            hostnames:
            - "ddrvl"
          - ip: "192.168.66.193"
            hostnames:
            - "ddrvm"
          - ip: "192.168.66.194"
            hostnames:
            - "ddrvn"
          - ip: "192.168.66.195"
            hostnames:
            - "ddrvo"
          - ip: "192.168.66.156"
            hostnames:
            - "consulapi.sysadmin.com"
          {% else %}
          - ip: "127.0.0.1"
            hostnames:
            - "localhost"
          {% endif %}
          containers:
          - name: ai-lab-report
            image: reg.ops.com/aicloud-{{ ENV }}/ai-lab-report:{{ TIMESTAMP }}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              {% if ENV == 'prod' %}
              requests:
                memory: "1024Mi"
                cpu: "1024m"
              limits:
                memory: "2048Mi"
                cpu: "2048m"
              {% else %}
              requests:
                memory: "1024Mi"
                cpu: "512m"
              limits:
                memory: "2048Mi"
                cpu: "1024m"
              {% endif %}
            ports:
            - name: lab-report
              containerPort: 9903
            env:
            - name: HOST_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName

---
apiVersion: v1
kind: Service
metadata:
  name: report-service
  namespace: aicloud-{{ ENV }}
spec:
  selector:
    app: ai-lab-report
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - port: 9903
    targetPort: 9903

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ai-lab-report
  namespace: aicloud-{{ ENV }}
spec:
  rules:
  - host: ai-lab-report.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: report-service
          servicePort: 9903
