apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: ai-lab-service-exam
    namespace: aicloud-{{ ENV }}
spec:
    {% if ENV == "prod" %}
    replicas: 1
    minReadySeconds: 60
    {% else %}
    replicas: 1
    {% endif %}
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: ai-lab-service-exam
        env: {{ ENV }}
        tier: backend
        release: k8s-release
    template:
      metadata:
        labels:
          app: ai-lab-service-exam
          env: {{ ENV }}
          tier: backend
          release: k8s-release
      spec:
          {% if ENV == "prod" %}
          imagePullSecrets:
          - name: regsecret
          {% endif %}
          containers:
          - name: ai-lab-service-exam
            {% if ENV == "prod" %}
            image: reg.k8s.com/aicloud-{{ ENV }}/ai-lab-service-exam:{{ TIMESTAMP }}
            {% else %}
            image: reg.ops.com/aicloud-{{ ENV }}/ai-lab-service-exam:{{ TIMESTAMP }}
            {% endif %}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              requests:
                memory: "1024Mi"
                cpu: "500m"
              limits:
                memory: "2048Mi"
                cpu: "1000m"
            volumeMounts:
            - name: nfs
              mountPath: "/ddhome/aicloud/resource"
            ports:
            - name: service-exam
              containerPort: 8803
          volumes: 
          - name: nfs
            nfs:
              {% if ENV == 'dev' %}
              server: 192.168.55.164
              {% elif ENV == 'prod' %}
              server: 192.168.66.165
              {% else %}
              
              {% endif %}
              path: "/ddhome/aicloud/resource"
            

---
apiVersion: v1
kind: Service
metadata:
  name: ai-exam-service
  namespace: aicloud-{{ ENV }}
spec:
  selector:
    app: ai-lab-service-exam
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - port: 8803
    targetPort: 8803

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ai-lab-service-exam
  namespace: aicloud-{{ ENV }}
 
spec:

  rules:
  - host: ai-lab-service-exam.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: ai-exam-service
          servicePort: 8803


