apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: ai-lab-redis
    namespace: aicloud-{{ ENV }}
spec:
    {% if ENV == 'prod'%}
    replicas: 2
    minReadySeconds: 60
    {% else %}
    replicas: 1
    {% endif %}
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: ai-lab-redis
        env: {{ ENV }}
        tier: backend
        release: k8s-release
    template:
      metadata:
        labels:
          app: ai-lab-redis
          env: {{ ENV }}
          tier: backend
          release: k8s-release
      spec:
          hostAliases:
          {% if ENV == 'dev' %}
          - ip: "192.168.66.121"
            hostnames:
            - "ddpva"
          - ip: "192.168.66.122"
            hostnames:
            - "ddpvb"
          - ip: "192.168.66.123"
            hostnames:
            - "ddpvc"
          - ip: "192.168.66.124"
            hostnames:
            - "ddpvd"
          - ip: "192.168.66.125"
            hostnames:
            - "ddpve"
          {% elif ENV == 'prod' %}
          - ip: "192.168.66.191"
            hostnames:
            - "ddrvk"
          - ip: "192.168.66.192"
            hostnames:
            - "ddrvl"
          - ip: "192.168.66.193"
            hostnames:
            - "ddrvm"
          - ip: "192.168.66.194"
            hostnames:
            - "ddrvn"
          - ip: "192.168.66.195"
            hostnames:
            - "ddrvo"
          {% else %}
          - ip: "127.0.0.1"
            hostnames:
            - "localhost"
          {% endif %}
          containers:
          - name: ai-lab-redis
            image: reg.ops.com/aicloud-{{ ENV }}/ai-lab-redis:{{ TIMESTAMP }}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              {% if ENV == 'prod' %}
              requests:
                memory: "1024Mi"
                cpu: "1024m"
              limits:
                memory: "2048Mi"
                cpu: "2048m"
              {% else %}
              requests:
                memory: "1024Mi"
                cpu: "512m"
              limits:
                memory: "2048Mi"
                cpu: "1024m"
              {% endif %}
            ports:
            - name: lab-redis
              containerPort: 9907

---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: aicloud-{{ ENV }}
spec:
  selector:
    app: ai-lab-redis
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - port: 9907
    targetPort: 9907

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ai-lab-redis
  namespace: aicloud-{{ ENV }}
spec:
  rules:
  - host: ai-lab-redis.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: redis-service
          servicePort: 9907
