apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: aicloud-web
    namespace: aicloud-{{ ENV }}
spec:
    replicas: 1
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: aicloud-web
        env: {{ ENV }}
        tier: 
        release: k8s-release
    template:
      metadata:
        labels:
          app: aicloud-web
          env: {{ ENV }}
          tier: foretend
          release: k8s-release
      spec:
          containers:
          - name: aicloud-web
            image: reg.ops.com/aicloud-{{ ENV }}/aicloud-web:{{ TIMESTAMP }}
            imagePullPolicy: IfNotPresent
            resources:
              requests:
                memory: "512Mi"
                cpu: "512m"
              limits:
                memory: "1024Mi"
                cpu: "1024m"
            ports:
            - name: http
              containerPort: 80
            - name: resource
              containerPort: 1122
            livenessProbe:
              tcpSocket:
                port: http
              initialDelaySeconds: 120
              periodSeconds: 10
            readinessProbe:
              tcpSocket:
                port: http
              initialDelaySeconds: 120
              periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: aicloud-service
  namespace: aicloud-{{ ENV }}
spec:
  selector:
    app: aicloud-web
    tier: foretend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - name: http
    port: 80
    targetPort: 80
  - name: resource
    port: 1122
    targetPort: 1122

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: aicloud-web
  namespace: aicloud-{{ ENV }}
spec:
  rules:
  - host: aicloud.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: aicloud-service
          servicePort: 80

---

