apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: config
    namespace: arch-{{ ENV }}
spec:
    replicas: 1
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: config
        tier: backend
        env: {{ ENV }}
        release: k8s-release
    template:
      metadata:
        labels:
          app: config
          tier: backend
          env: {{ ENV }}
          release: k8s-release
      spec:
          {% if ENV == "prod" %}
          imagePullSecrets:
          - name: regsecret
          {% endif %}
          containers:
          - name: config
            {% if ENV == "prod" %}
            image: reg.k8s.com/arch-{{ ENV }}/config:{{ TIMESTAMP }}
            {% else %}
            image: reg.ops.com/arch-{{ ENV }}/config:{{ TIMESTAMP }}
            {% endif %}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              {% if ENV == 'prod' %}
              requests:
                memory: "1024Mi"
                cpu: "1024m"
              limits:
                memory: "2048Mi"
                cpu: "2048m"
              {% else %}
              requests:
                memory: "1024Mi"
                cpu: "512m"
              limits:
                memory: "2048Mi"
                cpu: "1024m"
              {% endif %}
            ports:
            - name: config
              containerPort: 8084

---
apiVersion: v1
kind: Service
metadata:
  name: config-service
  namespace: arch-{{ ENV }}
spec:
  selector:
    app: config
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - port: 8084
    targetPort: 8084

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: config
  namespace: arch-{{ ENV }}
spec:
  rules:
  - host: config.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: config-service
          servicePort: 8084
