apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: service-sms
    namespace: arch-{{ ENV }}
spec:
    {% if ENV == "prod" %}
    replicas: 2
    minReadySeconds: 60
    {% else %}
    replicas: 1
    {% endif %}
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: service-sms
        tier: backend
        env: {{ ENV }}
        release: k8s-release
    template:
      metadata:
        labels:
          app: service-sms
          tier: backend
          env: {{ ENV }}
          release: k8s-release
      spec:
          {% if ENV == "prod" %}
          imagePullSecrets:
          - name: regsecret
          {% endif %}
          containers:
          - name: service-sms
            {% if ENV == "prod" %}
            image: reg.k8s.com/arch-{{ ENV }}/service-sms:{{ TIMESTAMP }}
            {% else %}
            image: reg.ops.com/arch-{{ ENV }}/service-sms:{{ TIMESTAMP }}
            {% endif %}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              {% if ENV == 'prod' %}
              requests:
                memory: "1024Mi"
                cpu: "1024m"
              limits:
                memory: "2048Mi"
                cpu: "2048m"
              {% else %}
              requests:
                memory: "1024Mi"
                cpu: "512m"
              limits:
                memory: "2048Mi"
                cpu: "1024m"
              {% endif %}
            ports:
            - name: service-sms
              containerPort: 8805
            {% if ENV == "test" %}
            - name: debug-test
              containerPort: 28805
            {% elif ENV == "dev" %}
            - name: debug-dev
              containerPort: 18805
            {% else %}
            
            {% endif %}

---
apiVersion: v1
kind: Service
metadata:
  name: sms-service
  namespace: arch-{{ ENV }}
spec:
  selector:
    app: service-sms
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - name: service-sms
    port: 8805
    targetPort: 8805
  {% if ENV == "test" %}
  - name: debug-test
    port: 28805
    targetPort: 28805
  {% elif ENV == "dev" %}
  - name: debug-dev
    port: 18805
    targetPort: 18805
  {% else %}
  
  {% endif %}

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: service-sms
  namespace: arch-{{ ENV }}
spec:
  rules:
  - host: service-sms.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: sms-service
          servicePort: 8805

