apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: exam-report
    namespace: arch-{{ ENV }}
spec:
    {% if ENV == "prod" %}
    replicas: 2
    minReadySeconds: 60
    {% else %}
    replicas: 1
    {% endif %}
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: exam-report
        tier: backend
        env: {{ ENV }}
        release: k8s-release
    template:
      metadata:
        labels:
          app: exam-report
          tier: backend
          env: {{ ENV }}
          release: k8s-release
      spec:
          {% if ENV == "prod" %}
          imagePullSecrets:
          - name: regsecret
          {% endif %}
          containers:
          - name: exam-report
            {% if ENV == "prod" %}
            image: reg.k8s.com/arch-{{ ENV }}/service-exam-report:{{ TIMESTAMP }}
            {% else %}
            image: reg.ops.com/arch-{{ ENV }}/service-exam-report:{{ TIMESTAMP }}
            {% endif %}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              {% if ENV == 'prod' %}
              requests:
                memory: "1024Mi"
                cpu: "1024m"
              limits:
                memory: "2048Mi"
                cpu: "2048m"
              {% else %}
              requests:
                memory: "1024Mi"
                cpu: "512m"
              limits:
                memory: "2048Mi"
                cpu: "1024m"
              {% endif %}
            ports:
            - name: exam-report
              containerPort: 8806
            {% if ENV == "test" %}
            - name: debug-test
              containerPort: 28806
            {% elif ENV == "dev" %}
            - name: debug-dev
              containerPort: 18806
            {% else %}
            
            {% endif %}
            

---
apiVersion: v1
kind: Service
metadata:
  name: report-service
  namespace: arch-{{ ENV }}
spec:
  selector:
    app: exam-report
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - name: exam-report
    port: 8806
    targetPort: 8806
  {% if ENV == "test" %}
  - name: debug-test
    port: 28806
    targetPort: 28806
  {% elif ENV == "dev" %}
  - name: debug-dev
    port: 18806
    targetPort: 18806
  {% else %}
  
  {% endif %}

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: exam-report
  namespace: arch-{{ ENV }}
spec:
  rules:
  - host: service-exam-report.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: report-service
          servicePort: 8806


