apiVersion: extensions/v1beta1
kind: Deployment
metadata:
    name: zipkin
    namespace: arch-{{ ENV }}
spec:
    {% if ENV == "prod" %}
    replicas: 2
    minReadySeconds: 60
    {% else %}
    replicas: 1
    {% endif %}
    revisionHistoryLimit: 3
    selector:
      matchLabels:
        app: zipkin
        tier: backend
        env: {{ ENV }}
        release: k8s-release
    template:
      metadata:
        labels:
          app: zipkin
          tier: backend
          env: {{ ENV }}
          release: k8s-release
      spec:
          {% if ENV == "prod" %}
          imagePullSecrets:
          - name: regsecret
          {% endif %}
          containers:
          - name: zipkin
            {% if ENV == "prod" %}
            image: reg.k8s.com/arch-{{ ENV }}/zipkin:{{ TIMESTAMP }}
            {% else %}
            image: reg.ops.com/arch-{{ ENV }}/zipkin:{{ TIMESTAMP }}
            {% endif %}
            imagePullPolicy: IfNotPresent
            args: ["{{ ENV }}"]
            resources:
              {% if ENV == 'prod' %}
              requests:
                memory: "1024Mi"
                cpu: "1000m"
              limits:
                memory: "2048Mi"
                cpu: "2000m"
              {% else %}
              requests:
                memory: "1024Mi"
                cpu: "500m"
              limits:
                memory: "2048Mi"
                cpu: "1000m"
              {% endif %}
            ports:
            - name: zipkin
              containerPort: 8082
            
---
apiVersion: v1
kind: Service
metadata:
  name: zipkin-service
  namespace: arch-{{ ENV }}
spec:
  selector:
    app: zipkin
    tier: backend
    env: {{ ENV }}
    release: k8s-release
  ports:
  - port: 8082
    targetPort: 8082

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: zipkin
  namespace: arch-{{ ENV }}
spec:
  rules:
  - host: zipkin.{{ ENV }}.sysadmin.com
    http:
      paths:
      - path: /
        backend:
          serviceName: zipkin-service
          servicePort: 8082
